@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

.card {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  max-width: auto;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  position: relative;
  margin-bottom: 20px;
}
.card h2 {
  margin: 0;
  padding: 0 1rem;
}
.card .title {
  padding: 1rem;
  text-align: right;
  color: rgb(49, 91, 116);
  font-weight: bold;
  font-size: 12px;
}
.card .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
}
.card .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}
.card svg {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.img-avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 90%;
  border: 6px solid white;
  background-image: linear-gradient(-60deg, #4b7784 0%, #b6ccd4 100%);
  top: 15px;
  left: 85px;
}

#avatar_img{
  display: block;
  margin: 0 auto;
  padding-top: 8px;
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
}

path {
  fill: white;
}

.img-portada {
  width: 100%;
}

.portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: url("../assets/fibra-textil.jpg");
  background-position: bottom center;
  background-size: cover;
}

.portada-1 {
  background-image: url("../assets/fabric-and-textiles-laser-cutting-engraving-marking_v1.jpg");
}
.portada-2 {
  background-image: url("../assets/shoes.jpg");
}
.portada-3 {
  background-image: url("../assets/zapatos.jpg");
}
.portada-4 {
  background-image: url("../assets/31896075.jpg");
}

.portada-5 {
  background-image: url("../assets/accesorios.png");
}

.portada-6 {
  background-image: url("../assets/cajas_etiquetadas.jpg");
}

.portada-7 {
  background-image: url("../assets/bolsas.jpg");
}

button {
  border: none;
  background: none;
  font-size: 24px;
  color: #8bc34a;
  cursor: pointer;
  transition: 0.5s;
  
}

button ::hover {
  color: #4caf50;
  transform: rotate(22deg);
}

.grid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 15% auto;
  grid-column-gap: 55px;
}
